@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Amettasignature';
  src: url('../_assets/fonts/Amettasignature.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #fff;
}
